footer {
  padding: $padding-y $padding-x 0;
  color: $text-color;
  opacity: 0.6;
  font-size: 12px;
  @media screen and (orientation: landscape) {
    padding-left: $padding-x-lg;
    padding-right: $padding-x-lg;
  }
  .work-footer + & {
    padding-top: 1em;
  }
}

#work.work-footer ul {
  @media screen and (orientation: landscape) and (min-width: 900px) {
    flex-direction: row;
  }
}
