footer {
  padding: $padding-y $padding-x 0;
  color: $text-color-alt;
  font-size: 12px;
  @media screen and (orientation: landscape) {
    padding-left: $padding-x-lg;
    padding-right: $padding-x-lg;
  }
  .work-footer + & {
    padding-top: 2em;
  }
}
