.home {


  header {
    background: white;

    @media (orientation: landscape) {
      width: 50vw;
      height: 100vh;
      min-height: 100vh;
      position: fixed;
    }

    @media (orientation: portrait) {
      margin-top: $navHeight;
      height: 30vh;
      min-height: 30vh;
    }
  }

  main {
    display: flex;

    @media (orientation: landscape) {
      flex-direction: row;
    }

    @media (orientation: portrait) {
      flex-direction: column;
    }
  }

  nav {
    color: $text-color;
    box-shadow: none;

    @media (orientation: landscape) {
      position: fixed;
      width: 50vw;
    }

    ul {
      li {

        a,
        a:visited {
          color: $text-color;
        }

        &.current,
        &:hover {

          a,
          a:visited {
            color: $white;
            background-color: $text-color;
          }
        }
      }
    }

  }

  .nav-home {
    display: none;
  }

  #work {
    display: flex;
    flex-direction: column;

    @media (orientation: landscape) {
      width: 50vw;
      height: 100vh;
      margin-left: 50vw;
      box-shadow: inset 20px 0 20px -20px black;
      overflow-x: hidden;
      overflow-y: auto;

      // &::-webkit-scrollbar {
      //   width: 8px;
      //   background: white;
      // }

      // /* Track */
      // &::-webkit-scrollbar-track {
      //   background: white;
      // }

      // /* Handle */
      // &::-webkit-scrollbar-thumb {
      //   background: rgba($text-color, .4);
      //   width: 6px;

      //   &:hover {
      //     background: rgba($text-color, .6);
      //   }
      // }
    }

    h5 {
      display: none;
    }

    ul {
      margin-top: -1px;
    }
  }


  footer {
    @media (orientation: landscape) {
      width: 50vw;
      position: fixed;
      left: 0;
      bottom: 0;
    }
  }
}