.home {
  background-color: #f9f9f9;
  @media (orientation: landscape) and (min-height: 500px) {
    .Header--inner {
      transform: rotate(-90deg);
      transform-origin: top left;
      min-width: 100vw;
    }
  }

  h2 {
    .location {
      display: block;
    }
  }

  header {
    padding: $padding-x;
    display: flex;
    align-items: flex-end;

    @media (orientation: landscape) and (min-height: 500px) {
      width: 25vw;
      height: 100vh;
      min-height: 100vh;
      position: fixed;
      padding: 0 $padding-x-lg;
      box-shadow: 0 0 20px rgba(black, 0.5);
      z-index: 2;
    }

    @media (orientation: portrait) {
      // margin-top: $navHeight;
      height: calc(60vh + #{$navHeight});
      min-height: calc(60vh + #{$navHeight});

      h1 {
        margin-top: $navHeight / 2;
      }
    }
  }

  main {
    display: flex;

    @media (orientation: landscape) {
      flex-direction: row;
    }

    @media (orientation: portrait) {
      flex-direction: column;
    }
  }

  nav {
    color: $text-color;
    box-shadow: none;

    @media (orientation: landscape) and (min-height: 500px) {
      position: fixed;
      width: 50vw;
    }

    ul {
      li {
        a,
        a:visited {
          color: $text-color;
        }

        &.current,
        &:hover {
          a,
          a:visited {
            color: $white;
            background-color: $text-color;
          }
        }
      }
    }
  }

  .nav-home {
    display: none;
  }

  #work {
    display: flex;
    flex-direction: column;

    @media (orientation: landscape) and (min-height: 500px) {
      width: 75vw;
      height: 100vh;
      margin-left: 25vw;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: thin;

      /* width */
      &::-webkit-scrollbar {
        width: 9px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(black, 0.1);
        width: 5px;
        border-radius: 10px;
        border: 2px solid white;

        &:hover {
          background: rgba(black, 0.2);
        }
      }
    }

    @media (orientation: landscape) {
      h5 {
        display: none;
      }
    }

    ul {
      margin-top: -1px;
    }
  }

  footer {
    font-family: $font-secondary;
    @media (orientation: landscape) {
      position: fixed;
      left: 0;
      bottom: 0;
    }
  }
}
