.main-nav {
	display: block;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	box-shadow: 0 1px 0 rgba(black, .2);
	height: $navHeight;
	transition: .15s;

	.work & {

		&:not(:hover) {
			background: transparent !important;
		}
	}

	ul {
		li {
			display: inline-block;

			a,
			a:visited {
				display: block;
				color: $white;
				line-height: 1;
				padding: 5px 15px;
				margin: 10px 0;
				border-radius: 15px;
				font-size: 80%;
				line-height: 20px;
			}

			&.current,
			&:hover {

				a,
				a:visited {
					color: $text-color;
					background-color: $white;
				}
			}
		}
	}

	.shorthand & {
		background-color: rgba($shorthand, .6);
	}

	.viator & {
		background-color: rgba($viator, .6);
	}

	.tgm & {
		background-color: rgba($tgm, .6);
	}

	.aus & {
		background-color: rgba($aus, .6);
	}
}

.work-nav {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 1;
	width: 50px;
	height: 50px;

	.btn {
		margin: auto;
		box-shadow: 0 0 0 4px white;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		padding: 0;
		position: relative;
		color: transparent;

		&:after {
			content: '';
			position: absolute;
			left: 55%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 20px;
			height: 20px;
			display: block;
			border: 4px solid white;
			border-right: none;
			border-top: none;
		}
	}
}