$text-color: #444;
$text-color-alt: #aaa;

$white: #fff;

$viator: #ec782b;
$viator-fade: rgba($viator, 0.7);
$shorthand: #12bf9c;
$shorthand-fade: rgba($shorthand, 0.7);
$tgm: #bd31ae;
$tgm-fade: rgba($tgm, 0.7);
$aus: #277f9c;
$aus-fade: rgba($aus, 0.7);
$ninemsn: #0274e7;
$ninemsn-fade: rgba($ninemsn, 0.7);

$navHeight: 50px;
$borderWidth: 6px;

$workNav-Width: 40px;

$breakpoint-sm: 700px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1250px;
$breakpoint-xl: 1400px;

$page-padding: 10px;
$page-padding-lg: 20px;

$padding-x: 7vw;
$padding-y: 10vw;
$padding-x-lg: 4vw;
$padding-y-lg: 4vw;

$font-primary: "IBM Plex Sans", sans-serif;
$font-secondary: "IBM Plex Mono", monospace;

%scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    background: white;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($text-color, 0.4);
    width: 6px;

    &:hover {
      background: rgba($text-color, 0.6);
    }
  }
}
