#work {
  border-top: 1px solid #eee;
  text-align: center;

  h5 {
    background-color: white;
  }

  ul {
    box-shadow: inset 0 20px 20px -20px black;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;

    // .work & {
    //   @media (orientation: landscape) {
    //     display: flex;
    //   }
    // }

    li {
      flex: 1;
      height: 30vh;

      a,
      a:visited {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: rgba(black, 0.3);
        box-shadow: inset 0 8px 10px -10px rgba(black, .4);
        transition: background 100ms ease-in-out;

        .icon {
          $icon-size: 60px;
          width: $icon-size;
          height: $icon-size;
          background-color: $white;
          margin: 20px auto 80px;
          border-radius: 50%;
          opacity: 0;
          transition: background 400ms ease-in-out;
          box-shadow: 0 8px 10px -10px black;
        }

        .text {
          display: inline-block;
          // padding: 5vh 20px;
          font-size: 120%;
          pointer-events: none;

          @media (min-width: $breakpoint-sm) {
            max-width: 80%;
            // padding: 10vh 20px;
          }

          h3,
          h4 {
            margin: 0 auto;
          }

          h3 {
            font-family: $title;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: .3em;
            margin-bottom: .5em;
            font-size: calc(100% + .25vw);
          }

          h4 {
            font-weight: normal;
            margin-bottom: .5em;
            font-size: calc(80% + .1vw);
          }

          .date {
            opacity: .7;
            font-size: calc(80% + .1vw);
          }
        }
      }
    }

    // .background-image {
    //   width: 50%;
    // }

    .background-wrapper {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, 0.3);
        box-shadow: inset 0 8px 10px -10px rgba(black, .4);
        transition: background 100ms ease-in-out;
      }
    }

    // .background-image {
    //   filter: blur(10px);
    // }

    .shorthand {
      .background-wrapper {

        .touch &,
        &:hover,
        &:focus {
          &:before {
            background-color: $shorthand-fade;
          }
        }
      }
    }

    .viator {
      .background-wrapper {

        .touch &,
        &:hover,
        &:focus {
          &:before {
            background-color: $viator-fade;
          }
        }
      }
    }

    .tgm {
      .background-wrapper {

        .touch &,
        &:hover,
        &:focus {
          &:before {
            background-color: $tgm-fade;
          }
        }
      }
    }

    .aus {
      .background-wrapper {

        .touch &,
        &:hover,
        &:focus {
          &:before {
            background-color: $aus-fade;
          }
        }
      }
    }

    // &.ninemsn {

    //   &:hover,
    //   &:focus {
    //     background-color: $ninemsn-fade;
    //   }
    // }
  }

  .work & {
    border-top: 1px solid #eee;
    margin-top: 5%;
  }
}