@import "normalize.css";
@import "variables";
@import "nav";
@import "home";
@import "buttons";
@import "worklist";
@import "footer";

html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
  font-weight: 300;
  color: $text-color;
  background-color: white;
  padding: $page-padding;
  font-size: 16px;
  @media screen and (min-width: $breakpoint-sm) {
    padding: $page-padding-lg;
  }

  @media screen and (min-width: $breakpoint-md) {
    font-size: 18px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 20px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    font-size: 22px;
  }

  // &.shorthand {
  //   background-color: $shorthand;
  // }

  // &.viator {
  //   background-color: $viator;
  // }

  // &.tgm {
  //   background-color: $tgm;
  // }

  // &.aus {
  //   background-color: $aus;
  // }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  border-radius: 27px;
  overflow: hidden;
}

#portfolio {
  width: 100%;
  overflow-x: hidden;
}

// .page {
//   background-size: cover;
//   background-attachment: fixed;
//   background-position: center;
// }

a,
a:visited {
  text-decoration: none;
  color: $white;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  a {
    color: $text-color;
    border-bottom: 1px dotted;

    &:hover {
      border-bottom: 1px solid;
    }

    &:not(.btn):visited {
      color: $text-color-alt;
    }
  }
}

h3 {
  font-size: 100%;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 120%;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 160%;
  }
}

h5 {
  font-size: 0.8em;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em $padding-x;
  margin: 0;
}

img {
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 90%;
  z-index: 5;
}

.v-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

main {
  > div {
    width: 100%;
  }
}

header {
  // text-align: center;
  // padding: 65% 0 0 ;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 0;
  height: 75vh;
  // min-height: 500px;
  @media screen and (orientation: portrait) {
    height: 60vh;
  }

  h1 {
    margin: 0 auto 0.5em;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.15em;
    font-size: calc(100% + 1.5vw);

    @media screen and (orientation: landscape) {
      font-size: calc(100% + 1.25vw);
    }
  }

  h2 {
    margin: 0;
    font-weight: 300;
    font-size: calc(100% + 0.15vw);

    span {
      color: rgba($text-color, 0.4);

      .work & {
        color: rgba($white, 0.4);
      }
    }
  }

  &.sub {
    color: $white;
    box-shadow: inset 0 -10px 15px -15px black;
    display: flex;
    align-items: flex-end;

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:before {
      z-index: 1;
      background-color: rgba(black, 0.3);
    }

    &:after {
      background-color: $white;
      opacity: 0.7;
      z-index: 2;

      .shorthand & {
        background-color: $shorthand;
      }

      .viator & {
        background-color: $viator;
      }

      .tgm & {
        background-color: $tgm;
      }

      .aus & {
        background-color: $aus;
      }
    }

    .Header--inner {
      z-index: 3;
      margin: $padding-x;
    }

    #skills {
      text-align: inherit;
      padding: 0;
      margin-top: 1em;
      ul {
        justify-content: initial;
      }
      li {
        border-color: rgba(white, 0.4);
        font-size: 14px;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}

.background-wrapper {
  z-index: -1;
  overflow: hidden;

  .shorthand & {
    background-color: $shorthand;
  }

  .viator & {
    background-color: $viator;
  }

  .tgm & {
    background-color: $tgm;
  }

  .aus & {
    background-color: $aus;
  }
}

.background-image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 100vw;
  height: 75vh;
  min-height: 75vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  // opacity: 0;
  animation: headerFade 0.3s ease-out forwards 0.15s;

  .touch & {
    opacity: 0.5;
  }

  .shorthand & {
    background-image: url("../Media/index-shorthand.jpg");
  }

  .viator & {
    background-image: url("../Media/index-viator.jpg");
  }

  .tgm & {
    background-image: url("../Media/index-tgm.jpg");
  }

  .aus & {
    background-image: url("../Media/index-aus.jpg");
  }
}

.work-container {
  section {
    background-color: white;
  }
}

#intro {
  display: block;
  padding: 2% $padding-x;

  h3 {
    font-size: 240%;
    margin-top: 10%;
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  h4 {
    font-size: 160%;
    opacity: 0.4;
    font-weight: 100;
    margin: 0 0 5%;
  }

  p {
    font-size: 110%;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;

    &:first-of-type {
      font-weight: bold;
      font-size: 140%;
    }

    @media screen and (min-width: $breakpoint-sm) {
      max-width: 1000px;
      min-width: 290px;
    }
  }

  .date {
    opacity: 0.4;
  }
}

#skills {
  text-align: center;
  padding: 2% 5%;
  max-width: 1600px;
  margin: 0 auto;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  li {
    padding: 0.5em 1.5em;
    border: 1px solid rgba(black, 0.1);
    font-size: 70%;
    margin: 2px;
    font-weight: bold;
    border-radius: 3em;
    line-height: 1;
  }
}

.example {
  text-align: center;
  padding: 2% 5% 3%;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }

  .item {
    + .item {
      margin-top: 10vh;
    }
  }

  .bordered {
    border: $borderWidth solid #f1f1f1;
    margin: 0 auto 6vh;
    position: relative;
    border-radius: $borderWidth;

    img {
      margin: 0;
    }

    p {
      width: 100%;
      display: block;
      margin: 0;
      padding: 1rem 20% 1rem;
      opacity: 0.9;
      min-width: 100%;
    }
  }

  p {
    margin: 1rem auto 2rem;
    @media (orientation: landscape) {
      width: 60%;
    }
  }

  .btn {
    margin-top: -1.5rem;
  }
}
.grid {
  ul {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;
    -webkit-align-content: flex-start;
    background: #f1f1f1;
    border: 3px solid #f1f1f1;

    &.quarter {
      li {
        width: 50%;
        @media (orientation: landscape) {
          width: 25%;
        }
      }
    }

    li {
      background-color: $text-color;
      display: inline-block;
      position: relative;
      border: 3px solid #f1f1f1;

      @media (orientation: landscape) {
        width: 50%;
      }

      &.example-full {
        width: 100%;
      }

      a {
        position: relative;
        display: block;
        overflow: hidden;

        img {
          width: 100%;
          margin: 0;
          display: block;
        }

        .overlay {
          position: absolute;
          z-index: 2;
          text-align: center;
          width: 100%;
          height: 100%;
          background-color: rgba(black, 0.8);
          opacity: 0;
          transition: opacity 100ms ease-in-out;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            display: block;
          }

          .btn {
            margin-top: 15px;
          }

          &:hover {
            opacity: 1;
            transition: opacity 100ms ease-in-out;
          }
        }
      }
    }
  }
}
